### Importação do SQLite e Criação do Banco de Dados:

In [5]:
import sqlite3
banco = sqlite3.connect('minhaEmpresa.bd')

### Criando um cursor para operar os comandos SQL:

In [6]:
cursor = banco.cursor()

### Criando as tabelas propostas:

In [7]:
# Tabela Financeiro:
cursor.execute("""CREATE TABLE funcionarios (idFuncionarios integer, idCodigo text, PrimeiroNome text,
SegundoNome text, UltimoNome text,
DataNasci date, CPF text, RG text, Endereco text, CEP text,
Cidade text, Fone text, CodigoDepartamento integer,
Funcao text, Salario real 
)""")
print("Tabela *funcionários* criada com sucesso!")

# Tabela Departamentos:
cursor.execute("""CREATE TABLE departamentos (idDepartamentos integer, idCodigo text, Nome text,
Localizacao text,
CodigoFuncionarioGerente integer
)""")
print("Tabela *departamentos* criada com sucesso!")

Tabela *funcionários* criada com sucesso!
Tabela *departamentos* criada com sucesso!

### Criação da lista que vai popular a tabela funcionários:

In [8]:
listaFuncionarios = [('1', 'x01', 'Lucas', 'Lourenção', 'Lourenção', '1987/07/01', '111.255.117-08', '1.959.420', 'Rua Carlos Cavalcante', '123456', 'Vitória', '(27) 9526-3312', '1', 'CEO', '15000'),
('2', 'x02', 'Pedro', 'Henrique', 'Menezes', '1980/12/12', '112.253.114-05', '1.333.444', 'Rua Antônio Magalhães', '543244', 'Anchieta', '(27) 9232-3142', '2', 'CFO', '13000'),
('3', 'x03', 'Vicente', 'Menezes', 'Aragão', '1999/10/30', '114.235.116-06', '1.349.443', 'Rua Alfredo Chaves', '879123', 'Guarapari', '(27) 9999-8877', '3', 'Diretor RH', '12000'),
('4', 'x03', 'Franciely', 'Pedrosa', 'Bicalho', '1986/06/29', '123.223.122-05', '1.329.423', 'Rua Cahoeiro dos Andes', '231567', 'Vitória', '(27) 9526-3312', '4', 'Diretor Financeiro', '12000'),
('5', 'x04', 'Talita', 'Souza', 'Silva', '2000/08/22', '151.244.417-03', '1.433.330', 'Rua Pedro Vasconcelos', '987678', 'Vila Velha', '(27) 9996-2322', '5', 'Gerente Logístico', '9000'),
('6', 'x04', 'Marina', 'Alcantara', 'Buriti', '1984/05/17', '114.265.155-03', '1.339.433', 'Rua Romildo Jacó', '543261', 'Anchieta', '(27) 9834-6587', '6', 'Gerente RH', '9000'),
('7', 'x04', 'Ana Bel', 'Eufrásio', 'Zorobabel', '1998/08/18', '110.355.137-02', '1.559.320', 'Rua Arlindo Soares', '334123', 'Vila Velha', '(27) 9862-3442', '7', 'Gerente Comercial', '9000'),
('8', 'x05', 'Teresinha', 'Pimenta', 'Alcoforado', '1979/12/27', '131.455.137-02', '1.578.110', 'Rua das Pratas', '435678', 'Serra', '(27) 9523-1243', '8', 'Executivo Vendas', '7000'),
('9', 'x05', 'Henrique', 'Miranda', 'Jacutia', '1981/07/02', '113.253.137-01', '1.235.411', 'Rua Julia Lacort Pena', '987654', 'Vitória', '(27) 9866-1312', '9', 'Executivo Comercial', '7000'),
('10', 'x05', 'Tiago', 'Albari', 'Pereira', '1986/07/03', '113.253.137-01', '1.235.411', 'Rua Julia Lacort Pena', '987654', 'Vitória', '(27) 8525-1212', '9', 'Executivo Comercial', '7000')]

In [9]:
# Inserindo os dados da listaFuncionarios na tabela funcionarios:
cursor.executemany("""INSERT INTO funcionarios VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
""", listaFuncionarios)
banco.commit()

In [10]:
# Retornar elementos da lista inserida na Tabela funcionarios:
cursor.execute("""SELECT * FROM funcionarios""")
print(cursor.fetchall())

[(1, 'x01', 'Lucas', 'Lourenção', 'Lourenção', '1987/07/01', '111.255.117-08', '1.959.420', 'Rua Carlos Cavalcante', '123456', 'Vitória', '(27) 9526-3312', 1, 'CEO', 15000.0), (2, 'x02', 'Pedro', 'Henrique', 'Menezes', '1980/12/12', '112.253.114-05', '1.333.444', 'Rua Antônio Magalhães', '543244', 'Anchieta', '(27) 9232-3142', 2, 'CFO', 13000.0), (3, 'x03', 'Vicente', 'Menezes', 'Aragão', '1999/10/30', '114.235.116-06', '1.349.443', 'Rua Alfredo Chaves', '879123', 'Guarapari', '(27) 9999-8877', 3, 'Diretor RH', 12000.0), (4, 'x03', 'Franciely', 'Pedrosa', 'Bicalho', '1986/06/29', '123.223.122-05', '1.329.423', 'Rua Cahoeiro dos Andes', '231567', 'Vitória', '(27) 9526-3312', 4, 'Diretor Financeiro', 12000.0), (5, 'x04', 'Talita', 'Souza', 'Silva', '2000/08/22', '151.244.417-03', '1.433.330', 'Rua Pedro Vasconcelos', '987678', 'Vila Velha', '(27) 9996-2322', 5, 'Gerente Logístico', 9000.0), (6, 'x04', 'Marina', 'Alcantara', 'Buriti', '1984/05/17', '114.265.155-03', '1.339.433', 'Rua Romildo Jacó', '543261', 'Anchieta', '(27) 9834-6587', 6, 'Gerente RH', 9000.0), (7, 'x04', 'Ana Bel', 'Eufrásio', 'Zorobabel', '1998/08/18', '110.355.137-02', '1.559.320', 'Rua Arlindo Soares', '334123', 'Vila Velha', '(27) 9862-3442', 7, 'Gerente Comercial', 9000.0), (8, 'x05', 'Teresinha', 'Pimenta', 'Alcoforado', '1979/12/27', '131.455.137-02', '1.578.110', 'Rua das Pratas', '435678', 'Serra', '(27) 9523-1243', 8, 'Executivo Vendas', 7000.0), (9, 'x05', 'Henrique', 'Miranda', 'Jacutia', '1981/07/02', '113.253.137-01', '1.235.411', 'Rua Julia Lacort Pena', '987654', 'Vitória', '(27) 9866-1312', 9, 'Executivo Comercial', 7000.0), (10, 'x05', 'Tiago', 'Albari', 'Pereira', '1986/07/03', '113.253.137-01', '1.235.411', 'Rua Julia Lacort Pena', '987654', 'Vitória', '(27) 8525-1212', 9, 'Executivo Comercial', 7000.0)]

### Criação da lista que vai popular a tabela departamentos:

In [4]:
# Comando para excluir as tabelas caso seja necessário um reset:
cursor.execute("DROP TABLE funcionarios")
cursor.execute("DROP TABLE departamentos")
print('As tabelas foram excluída com sucesso!')

As tabelas foram excluída com sucesso!

In [11]:
listaDepartamentos = [('1', 'x01', 'Conselho Administrativo', 'Vitória', '010'),
                      ('2', 'x02', 'Diretoria', 'Vitória', '015'),
                      ('3', 'x03', 'Gerencia Geral', 'Vitória', '020'),
                      ('4', 'x04', 'Gerencia Executiva', 'Vila Velha', '105'),
                      ('5', 'x05', 'Gerencia Comercial', 'Vila Velha', '088')]

In [12]:
# Inserindo os dados da listaDepartamentos na tabela departamentos:
cursor.executemany("""INSERT INTO departamentos VALUES(?,?,?,?,?)
""", listaDepartamentos)
banco.commit()

In [13]:
# Retornar elementos da lista inserida na Tabela departamentos:
cursor.execute("""SELECT * FROM departamentos""")
print(cursor.fetchall())

[(1, 'x01', 'Conselho Administrativo', 'Vitória', 10), (2, 'x02', 'Diretoria', 'Vitória', 15), (3, 'x03', 'Gerencia Geral', 'Vitória', 20), (4, 'x04', 'Gerencia Executiva', 'Vila Velha', 105), (5, 'x05', 'Gerencia Comercial', 'Vila Velha', 88)]

### Exercícios Propostos
#### A) Listar nome e sobrenome ordenado por sobrenome:

In [106]:
cursor.execute("SELECT PrimeiroNome, SegundoNome, UltimoNome FROM funcionarios ORDER BY UltimoNome")
print(cursor.fetchall())

[('Teresinha', 'Pimenta', 'Alcoforado'), ('Vicente', 'Menezes', 'Aragão'), ('Franciely', 'Pedrosa', 'Bicalho'), ('Marina', 'Alcantara', 'Buriti'), ('Henrique', 'Miranda', 'Jacutia'), ('Lucas', 'Lourenção', 'Lourenção'), ('Pedro', 'Henrique', 'Menezes'), ('Tiago', 'Albari', 'Pereira'), ('Talita', 'Souza', 'Silva'), ('Ana Bel', 'Eufrásio', 'Zorobabel')]

#### B) Listar todos os campos de funcionários ordenados por cidade:

In [107]:
cursor.execute("SELECT PrimeiroNome, Cidade FROM funcionarios ORDER BY Cidade")
print(cursor.fetchall())

[('Pedro', 'Anchieta'), ('Marina', 'Anchieta'), ('Vicente', 'Guarapari'), ('Teresinha', 'Serra'), ('Talita', 'Vila Velha'), ('Ana Bel', 'Vila Velha'), ('Lucas', 'Vitória'), ('Franciely', 'Vitória'), ('Henrique', 'Vitória'), ('Tiago', 'Vitória')]

#### C) Liste os funcionários que têm salário superior a R$ 1.000,00 ordenados pelo nome completo:

In [108]:
cursor.execute("SELECT PrimeiroNome, SegundoNome, UltimoNome, Salario Cidade FROM funcionarios WHERE Salario > '1000' ORDER BY PrimeiroNome, SegundoNome, UltimoNome")
print(cursor.fetchall())

[('Ana Bel', 'Eufrásio', 'Zorobabel', 9000.0), ('Franciely', 'Pedrosa', 'Bicalho', 12000.0), ('Henrique', 'Miranda', 'Jacutia', 7000.0), ('Lucas', 'Lourenção', 'Lourenção', 15000.0), ('Marina', 'Alcantara', 'Buriti', 9000.0), ('Pedro', 'Henrique', 'Menezes', 13000.0), ('Talita', 'Souza', 'Silva', 9000.0), ('Teresinha', 'Pimenta', 'Alcoforado', 7000.0), ('Tiago', 'Albari', 'Pereira', 7000.0), ('Vicente', 'Menezes', 'Aragão', 12000.0)]

#### D) Liste a data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho:

In [109]:
cursor.execute("""SELECT PrimeiroNome, DataNasci FROM funcionarios
GROUP BY DataNasci""")
print(cursor.fetchall())

[('Teresinha', '1979/12/27'), ('Pedro', '1980/12/12'), ('Henrique', '1981/07/02'), ('Marina', '1984/05/17'), ('Franciely', '1986/06/29'), ('Tiago', '1986/07/03'), ('Lucas', '1987/07/01'), ('Ana Bel', '1998/08/18'), ('Vicente', '1999/10/30'), ('Talita', '2000/08/22')]

#### E) Liste o total da folha de pagamento:

In [110]:
cursor.execute("SELECT SUM(Salario) FROM funcionarios")
print(cursor.fetchall())

[(100000.0,)]

#### F) Liste o nome, o nome do departamento e a função de todos os funcionários:

In [111]:
sql = """SELECT funcionarios.PrimeiroNome, funcionarios.Funcao, departamentos.Nome
FROM funcionarios
INNER JOIN departamentos ON funcionarios.idCodigo = departamentos.idCodigo"""
cursor.execute(sql)
cursor.fetchall()

[('Lucas', 'CEO', 'Conselho Administrativo'),
 ('Pedro', 'CFO', 'Diretoria'),
 ('Vicente', 'Diretor RH', 'Gerencia Geral'),
 ('Franciely', 'Diretor Financeiro', 'Gerencia Geral'),
 ('Talita', 'Gerente Logístico', 'Gerencia Executiva'),
 ('Marina', 'Gerente RH', 'Gerencia Executiva'),
 ('Ana Bel', 'Gerente Comercial', 'Gerencia Executiva'),
 ('Teresinha', 'Executivo Vendas', 'Gerencia Comercial'),
 ('Henrique', 'Executivo Comercial', 'Gerencia Comercial'),
 ('Tiago', 'Executivo Comercial', 'Gerencia Comercial')]

#### G) Liste a quantidade de funcionários desta empresa:

In [112]:
cursor.execute("SELECT COUNT(idCodigo) FROM funcionarios")
print(cursor.fetchall())

[(10,)]

#### H) Liste o nome do departamento e do funcionário ordenados por departamento e funcionário:

In [113]:
sql = """SELECT funcionarios.PrimeiroNome, departamentos.Nome
FROM funcionarios
INNER JOIN departamentos ON funcionarios.idCodigo = departamentos.idCodigo ORDER BY Nome, PrimeiroNome"""
cursor.execute(sql)
cursor.fetchall()

[('Lucas', 'Conselho Administrativo'),
 ('Pedro', 'Diretoria'),
 ('Henrique', 'Gerencia Comercial'),
 ('Teresinha', 'Gerencia Comercial'),
 ('Tiago', 'Gerencia Comercial'),
 ('Ana Bel', 'Gerencia Executiva'),
 ('Marina', 'Gerencia Executiva'),
 ('Talita', 'Gerencia Executiva'),
 ('Franciely', 'Gerencia Geral'),
 ('Vicente', 'Gerencia Geral')]